<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dtransfer.admin.mapper.BuildingDetailMapper">

    <resultMap type="cn.dtransfer.admin.domain.BuildingDetail" id="BuildingDetailResult">
        <result property="id"    column="id"    />
        <result property="buildingId"    column="building_id"    />
        <result property="floorNum"    column="floor_num"    />
        <result property="floorName"    column="floor_name"    />
        <result property="floorPic"    column="floor_pic"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="parkId" column="park_id"/>
    </resultMap>

</mapper>
