<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dtransfer.admin.mapper.ServiceMenuMapper">

    <resultMap type="cn.dtransfer.admin.domain.ServiceMenu" id="ServiceMenuResult">
        <result property="id" column="id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuDesc" column="menu_desc"/>
        <result property="menuImg" column="menu_img"/>
        <result property="menuLevel" column="menu_level"/>
        <result property="parentId" column="parent_id"/>
        <result property="isMarketable" column="is_marketable"/>
        <result property="marketableTime" column="marketable_time"/>
        <result property="version" column="version"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="parkId" column="park_id"/>
    </resultMap>
</mapper>
